<main class="container">
    <div class="row">
        <!-- Starting the Coruse Cards : -->    
        <div class="col-4 my-4" *ngFor="let item of courseslist;">
            <div class="card">
                <img [src]=item.imgUrl class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">{{item.title}}</h4>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text text-danger font-weight-bold">Price : ${{item.price}}</p>

                    <a href="#">Go SomeWhere</a>
                </div>
            </div>
        </div>
        <!-- End of  the Coruse Cards : -->
    </div>
</main>